{% extends "base.html" %}
{% load static %}
{% block main_content %} 

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <!-- js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="container">
            <div class ="row justify-content-around">
        <form class="col-md-6 bg-light p-3 my-3" method="post">
          {% csrf_token%}
            <h1 class="text-center text-uppercase h3 py-3">Email</h1>
            {% comment %} <div class="form-groud">
              <label for="exampleInputEmail1" class="form-label">Tên</label>
              <input type="text" name ="ten" class="form-control" id="ten" aria-describedby="emailHelp">
            </div>

          
              <div class="form-groud">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="Email" class="form-control" name = "email" id="email"  aria-describedby="emailHelp">
              </div>

              <div class="form-groud">
                <label for="exampleInputEmail1" class="form-label">Text</label>
                <input type="text" class="form-control" name="text" id="text"  Required aria-describedby="emailHelp">
              </div> {% endcomment %}

              <div class="form-groud">
                <label for="exampleInputEmail1" class="form-label">Số điện thoại</label>
                <input type="text" name ="sdt" class="form-control" aria-describedby="emailHelp">
              </div>


              <div class="form-groud">
                <label for="exampleInputEmail1" class="form-label">Nội dung</label>
                <input type="text" name ="nd" class="form-control" id="nd" aria-describedby="emailHelp">
              </div>

                <button type="submit" class="btn btn-primary mt-3">Gửi</button>
             
            
          </form>
        </div></div>
        <script src="" async defer></script>
    </body>
    {% endblock main_content %}